.img-comp-container {
	position: relative;
	max-width: 100%;

	&.state_loading {
		&:before, &:after {
			content: '';
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
			height: 5px;
		}

		&:before {
			background-color: rgba(90,90,90,.1);
		}

		&:after {
			width: 50%;
			background-color: rgba(225,120,120,.5);
			animation: progress-movement 1s linear infinite;
		}
	}

	&.state_active {
		opacity: 1;

		img {
			opacity: 1;
		}
	}

	img {
		opacity: 0;
		transition: opacity .5s ease 1s;
	}

	&:hover, &.img-comp-container--dragging {
		.img-comp-img.img-comp-overlay.draw--divider:after {
			height: 100%;
			top: 0%;
			opacity: 1;
			transition: top .5s cubic-bezier(0.63, 0.24, 0.32, 1.24), height .5s cubic-bezier(0.63, 0.24, 0.32, 1.24);
		}

		.img-comp-slider {
			opacity: 1;
			transform: scale(1);

			&:before {
				opacity: 1;
				transform: scale(1);			
			}
		}
	}
}

.img-comp-img {
	position: absolute;
	width: auto;
	height: auto;
	overflow: hidden;
	
	img {
		display: block;
		vertical-align: middle;
	}

	&.img-comp-overlay.draw--divider {
		&:after {
			content: '';
			position: absolute;
			height: 0;
			width: 1px;
			background-color: rgba(white, .5);
			right: 0;
			top: 50%;
			opacity: 0;
			transition: top .5s cubic-bezier(0.63, 0.24, 0.32, 1.24), height .5s cubic-bezier(0.63, 0.24, 0.32, 1.24), opacity .3s ease .4s;
		}
	}
}

.img-comp-slider {
	position: absolute;
	z-index: 9;
	cursor: ew-resize;
	/*set the appearance of the slider:*/
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	opacity: .5;
	transform: scale(.75);
	transition: transform .5s ease, opacity .5s ease;

	&:before {
		content: '';
		display: block;
	    width: 50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    top: -5px;
	    left: -5px;
	    border: 1px solid #fff;
	    transform: scale(0);
	    opacity: 0;
	    transition: transform .4s cubic-bezier(0.63, 0.24, 0.32, 1.24), opacity .4s ease;
	}
}

.img-comp__label {
	padding: .5rem;
	position: absolute;
	left: 0;
	bottom: 50%;
	background-color: rgba(0,0,0,.5);
	color: #fff;

	&__after {
		left: auto;
		right: 0;
	}
}

@keyframes progress-movement {
	0%   { left: 0;    width: 0;   }
	75%  { left: 60%;              }
	95%  { left: 85%;  width: 15%; }
	100% { left: 100%; width: 0;   }
}